@use '@/styles/vars' as *;

.header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 25px;
}

.button {
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.065) !important;

  &[data-loading=false] {
    .icon {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
